# Файлы с переменными окружения (содержат секреты!)
# САМАЯ ВАЖНАЯ СТРОКА В НАШЕМ СЛУЧАЕ
.env
.env.*
!.env.example

# Папки с виртуальным окружением Python
venv/
env/
.venv/
*/venv/
*/env/
*/.venv/

# Кэш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы конфигурации IDE и редакторов
.vscode/
.idea/

# Специфичные для операционных систем файлы
.DS_Store
Thumbs.db

# Папки, создаваемые при сборке пакетов
build/
dist/
*.egg-info/

# User
notes.md